@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



@font-face {
    font-family: 'PR Celtic';
    src:url('Fonts/narrow-webfont.woff2') format('woff2'),
        url('Fonts/narrow-webfont.woff') format('woff');
    font-weight: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav > ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.main-nav a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0;
}

.main-link-text{
    z-index: 50;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 100; 
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main-logo{
    left: 0;
    height: 100%;
    outline: 1px solid black;
}

.main-header {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255);
    outline: 1px solid #000;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0;
    list-style: none;
    width: 100%;
}

.main-nav {
    display: inline;
    align-items: center;
    text-align: center;   
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

.main-nav li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 30;
    height: 100%;
    align-items: center;
    text-align: center;
    width: 30%;
}

.nav a:hover {
    border-bottom: 3px inset black;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(255, 255, 255);
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 1rem;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    margin-right: 20px;
    outline: 3px solid black;
}

.main-footer {
    position: relative;
    bottom: 0%;
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.footer-locales ul{
    padding-left: 0%;
    text-align: left;
    list-style: none;
    margin: 0%;
}

.footer-locales a{
    color: white;
    text-decoration: none;
}

.footer-nav a{
    text-decoration: none;
}

.footer-heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
}

.empresa-name{
    margin: 30px 0px;
    font-family: "PR Celtic";
    font-size: 50px;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.copyright{
    font-family: 'Times New Roman', Times, serif;
    color: #777;
}

.btn-header:hover {
    background-color: rgb(0, 0, 0);
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #000;
    border-color: rgb(0, 0, 0);
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    border-color: black;
    color: black;
    background-color: #ffffff07;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 35px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: rgb(129, 0, 0);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #ff0000;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}